<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.first_name %>!</h1>
    <h3>Here is the your promotion code:</h3>
    <h3>KALO<%= DateTime.now.strftime('%m%d')%></h3>
    <p>Thanks for joining and have a great day</p>
  </body>
</html>