<div>
  <nav class="navbar navbar-light bg-light" style="background-color: #83c9ad">
    <h3 class="text-center" style="color: #403e38; margin-bottom: 20px;"> Welcome to Kalo Boutique</h3>
  </nav>
  <div class="main-container">
  something to put here
  </div>
  <div></div>
</div>